
# dependencies
app/node_modules
app/.pnp
.pnp.js
venv
venv35

# testing
app/coverage

# production
app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
db.sqlite3
.idea
.bash_history
.platform.app.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#caching
**/__pychache__
*.pyc

#migrations
**/migrations

#staticfiles
myapp/staticfiles

