# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# venvs
env
venv
venv35
venv38
venv39
venv_wk
.python-version

# testing
frontend/coverage

# production

# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local
db.sqlite3
postgresql-trapezoidal-54586
app.py
.env
mysite.log

#migrations and cache
**/__pycache__
*.pyc
staticfiles

npm-debug.log*
yarn-debug.log*
yarn-error.log*
