.book {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: max(25vw, 150px);
  height: max(25vw, 150px);
}

.firstCol {
  fill: #fbfcfd;
}

.secondCol {
  fill: #c2b280;
}

.thirdCol {
  fill: #808080;
}

.forthCol {
  fill: #808080;
}

.fifthCol {
  fill: #fafbfc;
}
