.book {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: max(25vw, 150px);
  height: max(25vw, 150px);
}

.firstPath {
  fill: #fbfcfd;
}

.secondPath {
  fill: #c2b280;
}

.thirdPath {
  fill: #808080;
}

.fourthPath {
  fill: #fbfcfd;
}

.fifthPath {
  fill: #c2b280;
}

.sixthPath {
  fill: #808080;
}

.seventhPath {
  fill: #fafbfc;
}
