.book {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: clamp(15rem, 25vw, 45rem);
  height: clamp(15rem, 25vw, 45rem);
}

.firstCol {
  fill: #fbfcfd;
}

.secondCol {
  fill: #c2b280;
}

.thirdCol {
  fill: #808080;
}

.forthCol {
  fill: #808080;
}

.fifthCol {
  fill: #fafbfc;
}
