.svgImage {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: max(25vw, 180px);
  height: max(25vw, 150px);
}

.firstColor {
  fill: rgb(66, 126, 144);
}

.secondColor {
  fill: rgb(40, 93, 108);
}
