.svgImage {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: clamp(18rem, 25vw, 54rem);
  height: clamp(15rem, 25vw, 45rem);
}

.firstColor {
  fill: rgb(66, 126, 144);
}

.secondColor {
  fill: rgb(40, 93, 108);
}
