@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dff2fb;
  font-family: 'Sen', sans-serif;
  color: #427e90;
}

h1 {
  font-size: clamp(25px, 5vw, 42px);
}

label {
  font-size: 25px;
  margin-left: 12px;
  margin-bottom: 0px;
}

.title {
  font-weight: 400;
  font-size: clamp(24px, 5vw, 42px);
  margin: 0;
  text-align: center;
}

/* UserMenu Start */
.userMenu,
.adminMenu {
  height: 100vh;
  margin: 15vh 0;
}

.wrapper {
  width: 800px;
  height: 500px;
  flex-wrap: wrap;
}

.menu-text {
  font-weight: 400;
  font-size: 42px;
  margin-left: 15px;
}
/* UserMenu End */

/* InactiveReplacement Start */
.inactiveReplacementWrapper,
.resetPassword,
.registerForm,
.resetPasswordConfirm,
.homepage,
.Whoops404,
.volunteerRegisterWrapper,
.activateAccount,
.submitReplacement, 
.loginForm {
  height: 100vh;
}

.link,
.link:hover {
  color: #427e90;
}

.inactiveReplacementInnerWrapper {
  width: 650px;
  height: 500px;
}

/* LectureAnalysis Start */
.inactiveReplacementWrapper,
.resetPassword,
.loginForm,
.registerForm,
.resetPasswordConfirm,
.homepage,
.Whoops404,
.volunteerRegisterWrapper,
.activateAccount,
.submitReplacement,
.lectureAnalysisWrapper,
.volunteerAnalysisWrapper {
  padding: 5vw 0;
}

@media screen and (max-width: 992px) {
  .inactiveReplacementWrapper,
  .resetPassword,
  .loginForm,
  .registerForm,
  .resetPasswordConfirm,
  .homepage,
  .Whoops404,
  .volunteerRegisterWrapper,
  .activateAccount,
  .submitReplacement,
  .lectureAnalysisWrapper,
  .volunteerAnalysisWrapper {
    padding: 20vw 0;
  }
}

@media screen and (max-width: 768px) {
  .l-arrow {
    width: 6px;
    height: 10px;
  }
}
/* LectureAnalysis End */

.card {
  word-wrap: normal;
}
.lectureAnalysisInnerWrapper {
  width: 1024px;
  height: 650px;
  margin: 0 auto;
}
/* LectureAnalysis End */
