@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dff2fb;
  font-family: 'Sen', sans-serif;
}

h1 {
  font-size: clamp(25px, 5vw, 42px);
}

.title {
  color: #427e90;
  font-weight: 400;
  font-size: clamp(24px, 5vw, 42px);
  margin: 0;
}

/* UserMenu Start */
.userMenu,
.adminMenu {
  height: 100vh;
  margin: 15vh 0;
}

.wrapper {
  width: 800px;
  height: 500px;
  flex-wrap: wrap;
  color: #427e90;
}

.menu-text {
  font-weight: 400;
  font-size: 42px;
  margin-left: 15px;
}
/* UserMenu End */

/* InactiveReplacement Start */
.inactiveReplacementWrapper,
.resetPassword,
.loginForm,
.registerForm,
.resetPasswordConfirm,
.Home,
.Whoops404,
.volunteerRegisterWrapper,
.activateAccount {
  height: 100vh;
}

.inactiveReplacementInnerWrapper {
  width: 650px;
  height: 500px;
}

.sorryMessage {
  color: #427e90;
}
/* InactiveReplacement End */

/* LectureAnalysis Start */
.lectureAnalysisWrapper,
.volunteerAnalysisWrapper {
  padding: 15vw 0 10vw 0;
}
/* LectureAnalysis End */

.card {
  word-wrap: normal;
}
.lectureAnalysisInnerWrapper {
  width: 1024px;
  height: 650px;
  margin: 0 auto;
}

/* LectureAnalysis End */
