@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

html {
  font-size: 62.5%;
  height: 100vh;
}
#root {
  height: 100%;
}

body {
  height: 100vh;
  background-color: #dff2fb;
  font-family: 'Sen', sans-serif;
  color: #427e90;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin: 0;
  text-align: center;
  font-size: clamp(2.4rem, 4vw, 4.2rem);
}

.text {
  font-size: clamp(1.2rem, 2vw, 2.4rem);
}

/* UserMenu Start */
.userMenu,
.adminMenu,
.min-h-100 {
  min-height: 100%;
}
/* UserMenu End */

/* InactiveReplacement Start */
.inactiveReplacementWrapper,
.resetPassword,
.registerForm,
.resetPasswordConfirm,
.homepage,
.Whoops404,
.volunteerRegisterWrapper,
.activateAccount,
.submitReplacement,
.loginForm {
  height: 100vh;
}

.link,
.link:hover {
  color: #427e90;
}

.inactiveReplacementInnerWrapper {
  width: 650px;
  height: 500px;
}

/* LectureAnalysis Start */
.inactiveReplacementWrapper,
.resetPassword,
.loginForm,
.registerForm,
.resetPasswordConfirm,
.homepage,
.Whoops404,
.volunteerRegisterWrapper,
.activateAccount,
.submitReplacement,
.lectureAnalysisWrapper,
.volunteerAnalysisWrapper {
  padding: 5vw 0;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .inactiveReplacementWrapper,
  .resetPassword,
  .loginForm,
  .registerForm,
  .resetPasswordConfirm,
  .homepage,
  .Whoops404,
  .volunteerRegisterWrapper,
  .activateAccount,
  .submitReplacement,
  .lectureAnalysisWrapper,
  .volunteerAnalysisWrapper {
    padding: 20vw 0;
    height: 100%;
  }
  .button {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .l-arrow {
    width: 6px;
    height: 10px;
  }
}
/* LectureAnalysis End */

.card {
  word-wrap: normal;
}
.lectureAnalysisInnerWrapper {
  width: 1024px;
  height: 650px;
  margin: 0 auto;
}
/* LectureAnalysis End */

.eye-icon {
  top: 53%;
  right: 8%;
  transform: translateY(-50%);
}

.eye-icon:hover {
  color: #4ea2c9;
}
