{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - aktywacja konta/account activation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Niniejsza wiadomość zawiera informacje niezbędne do ukończenia procesu aktywacji konta na stronie {{ site_name }}.{% endblocktrans %}
{% blocktrans %}Twoje hasło: {{ password }}{% endblocktrans %}
{% trans "Aby aktywować konto, kliknij w poniższy link:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Dzięki, że jesteś częścią naszego projektu!" %}

{% blocktrans %}Fundacja {{ site_name }}{% endblocktrans %}

{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Polski:{% endblocktrans %}</p>
<p>{% blocktrans %}Niniejsza wiadomość zawiera informacje niezbędne do ukończenia procesu aktywacji konta na stronie {{ site_name }}.{% endblocktrans %}</p>
    <p>{% blocktrans %}Twoje hasło {{ password }}{% endblocktrans %}</p>
<p>{% trans "Aby aktywować konto, kliknij w poniższy link:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Dzięki, że jesteś częścią naszego projektu!" %}</p>

<p>{% blocktrans %}Fundacja {{ site_name }}{% endblocktrans %}</p>

{% endblock html_body %}