{% load i18n %}
{% load inlinecss %}
{% inlinecss "static/email/base.css" %}

{% block subject %}
{% blocktrans %}ZASTĘPSTWO {{ site_name }} - {{ subject }} {{ week_day }} {{ time }} ({{ date }}) {{ level }}   {% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>Hej!</p>

    <p>Jest potrzebne zastępstwo, aby dowiedzieć się szczegółów kliknij w poniższy link:</p>

<p><a href="https://{{ domain }}/{{ url|safe }}substitutions/{{ substitution_id }}"></a></p>

<p>Dziękujemy, że jesteś.</p>
    <p>Zespół Web-Korki</p>
{% endblock html_body %}
{% endinlinecss %}